/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html { height: 100%; width: 100%; }

body {
  height: 100%;
  min-width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #c4e2fd;
}

.stream-video {
  position: relative;

  .name {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgba(243, 157, 174, 0.62);
    border-top-right-radius: 8px;

    &.local {
    }
  }
}

.stream-container {
  &.remote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .video-stream {
      flex: 1;
      min-width: 30%;
      max-width: 50%;
    }
  }
}

video {
  width: 100%;
  border-radius: 5px;
}

.btn {
  padding: 1rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;

  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: none;

  &.join {
    background: #670a8d;
  }

  &.publish {
    background: #1417be;
  }

  &.cancel {
    background: #e10f43;
  }
}
