/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.stream-video {
  position: relative;

  .name {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgba(243, 157, 174, 0.62);
    border-top-right-radius: 8px;

    &.local {
    }
  }
}
