<div class="content">
  <div class="stream-container local">
    <div class="stream-video">
      <video #localVideo id="localVideo" class="video-stream"></video>
      <div class="name local">ME</div>
    </div>
  </div>

  <div #remoteStreams class="stream-container remote">
  </div>
  <div #remoteStreamsAmazon class="stream-container remote">
  </div>

  <ng-container *ngIf="!loggedIn">
    <input #input value="" placeholder="say your name" />
    <button class="btn join" (click)="join(input.value)">{{conversationLoading ? 'Loading...' : 'Join stream'}}</button>
  </ng-container>

  <ng-container *ngIf="loggedIn">
    <button class="btn cancel" (click)="leaveConversation()">Leave</button>
  </ng-container>
</div>
