<div class="content">

  <ng-container *ngIf="streamService.conversation && !hasRemoteStream">
    <select [formControl]="selectedSample">
      <option value="sample.mp4">sample 1</option>
      <option value="sample_2.webm">sample 2</option>
    </select>

    <div id="player">
      <video
        id="content-share-video"
        #player
        (loadeddata)="onVideoLoadedData($event)"
        [src]="'assets/' + selectedSample.value"
        autoplay loop controls
        [muted]="true"
      >
      </video>
    </div>
  </ng-container>

  <ng-container *ngIf="!streamService.conversation; else withConversation">
    <button class="btn join" (click)="join()">{{conversationLoading ? 'Loading...' : 'Join stream'}}</button>
  </ng-container>

  <ng-template #withConversation>
    <div>
      <div id="remote-container">
      </div>
      <video [ngStyle]="{ display: hasRemoteStream ? 'block' : 'none'}" id="video-aws"></video>
    </div>

    <ng-container *ngIf="iAmHost; else withoutStream">
      <button class="btn cancel" (click)="cancelStream()">Cancel stream</button>
    </ng-container>

    <ng-template #withoutStream>
      <ng-container *ngIf="!hasRemoteStream">
        <button class="btn publish" (click)="startStreamVideo()">{{videoStreamStartLoading ? 'Loading...' : 'Publish your video'}}</button>
      </ng-container>
    </ng-template>
  </ng-template>

</div>

<!--<video id="video-tile-video"></video>-->
